<ion-popover-view>
    <ion-content>
        <form id="annotateForm" name="annotateForm">
            <div class="list">
                <label class="item" ng-click="addFavorite(dish.id);">
                  <span class="input-label" >Add to Favorites</span>
                </label>
                <label class="item" ng-click="addComment();">
                  <span class="input-label" >Add Comment</span>
                </label>
            </div>
        </form>
    </ion-content>
</ion-popover-view>